
.sidebar {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    // border-bottom: 1px solid #f7f7f7;

    .logo {
        font-size: 20px;
        color: #1C8AC7;
    }

    ul {
        display: flex;
        column-gap: 20px;
        list-style: none;
    }
}