.heading {
    h4 {
        color: #1c8ac7;
        font-size: 14px;
    }
    h2 {
        font-size: 35px;
        margin: 10px 0;
        max-width: 60%;

        span {
            color: #1c8ac7;
        }
    }
    p {
        font-size: 15px;
        margin: 30px 0;
        font-weight: 300;
        color: rgba(247, 247, 247, 0.5);
    }
}