.grid {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 40px;
    border-radius: 12px;
    margin-top: -20px;
    box-shadow: 0 10px 20px rgb(0 0 0 / 10%);

    .steps {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr;
        gap: 10px;

        .bcg_blue {
            background-color: rgba(28, 139, 199, 0.7);
        }

        >div {
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 20px;
            padding: 15px;

            div {
                font-size: 30px;
                font-weight: 900;
                margin-bottom: 20px;
            }

            h4 {
                font-size: 20px;
                margin: 10px 0;
            }

            p {
                color: rgba(247, 247, 247, 0.5);
                font-size: 14px;
            }
        }
    }
}